<footer class="footer py-5 mt-auto" style="background-color: rgb(173, 204, 255); z-index: 99; height: 12vh;">
    <div class="container">
        <span style="color: rgb(0, 54, 83);">&copy; PlanetFeedBack 2024</span>
    </div>
</footer>