<% layout('layout/boilerplate') %>
<div class="row" >
    <h1 class="text-center">New Planet Pin</h1>
    <div class="col-12">
        <form action="/earthExplorer" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">title</label>
                <input class="form-control" type="text" id="title" name="earthExplorer[title]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" id="location" name="earthExplorer[location]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Images</label>
                <input class="form-control" type="file" name="image" id="image" multiple required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Planet Pin Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input id="price" type="number" class="form-control" placeholder="0.00" aria-label="price"
                        aria-describedby="basic-addon1" name="earthExplorer[price]" step="0.01" min="0" max="9999999999999" required>
                </div>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="earthExplorer[description]" rows="8" required></textarea>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add New Pin</button>
            </div>
        </form>
        <a href="/earthExplorer">All PlanetPins</a>
    </div>
</div>

