<% layout('layout/boilerplate') %>
<div class="row" style="width: 70%; align-items: center; height: 70%; margin: auto; margin-top: 4%;">
    <h1 class="text-center" style="font-weight: 600;">New Planet Pin</h1>
    <div class="col-12">
        <form action="/earthExplorer" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title" style="font-weight: 600;">Title</label>
                <input class="form-control" type="text" id="title" name="earthExplorer[title]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="location" style="font-weight: 600;">Location</label>
                <input class="form-control" type="text" id="location" name="earthExplorer[location]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image" style="font-weight: 600;">Images</label>
                <input class="form-control" type="file" name="image" id="image" multiple required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price" style="font-weight: 600;">Planet Pin Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input id="price" type="number" class="form-control" placeholder="0.00" aria-label="price"
                        aria-describedby="basic-addon1" name="earthExplorer[price]" step="0.01" min="0" max="9999999999999" required>
                </div>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description" style="font-weight: 600;">Description</label>
                <textarea class="form-control" type="text" id="description" name="earthExplorer[description]" rows="8" required></textarea>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success btn-normal">Add New Pin</button>
            </div>
        </form>
    </div>
</div>

