<% layout('layout/boilerplate') %>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading" style="white-space: normal;"><%= err.message %></h4>
                <p style="overflow: auto"><%= err.stack %></p>
            </div>
        </div>
    </div>


