<% layout('layout/boilerplate') %>
    <div class="row" style="width: 70%; align-items: center; height: 70%; text-align: center; margin: auto; margin-top: 4%;">
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading" style="white-space: normal;"><%= err.message %></h4>
                <p style="overflow: auto"><%= err.stack %></p>
            </div>
        </div>
    </div>


